<html>
<head>

</head>
<body>
    <h1>Ações</h1>
    <button onclick="window.location.href='{% url 'start' %}'">Start</button>
    <button onclick="window.location.href='{% url 'pause' %}'">Pause</button>
    <button onclick="window.location.href='{% url 'reset' %}'">Reset</button>
    <br>
    <br>
    <button onclick="window.location.href='{% url 'acresc-um-min' %}'">Acrescentar +1 min</button>
    <button onclick="window.location.href='{% url 'acresc-um-tres' %}'">Acrescentar +3 min</button>
    <button onclick="window.location.href='{% url 'acresc-um-cinco' %}'">Acrescentar +5 min</button>
</body>
</html>